@import url('https://fonts.googleapis.com/css?family=Lato:regular,700');

body {
    font-family: 'Lato';
    background-color: #00a1a3;
    background-image: linear-gradient(to right, #005083, #23704e);
}

.title {
    padding-top: 100px;
}

h1 {
    display: block;
    max-width: 170px;
    margin: 0 auto;
    text-shadow: 2px 2px 4px #000;
    text-align: center;
    text-transform: uppercase;
    color: rgb(251, 255, 26);
    font-weight: 700;
}

p {
    padding-top: 10px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    max-width: 1000px;
    font-size: 20px;
    font-weight: 400;
}

ul,
li {
    list-style: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    margin-top: 20px;
    color: rgb(251, 255, 26);
    font-weight: 700;
    text-transform: uppercase;
}

input {
    margin-top: 5px;
    list-style: none;
    border: 2px solid rgb(251, 255, 26);
    background: transparent;
}

ul {
    color: rgb(251, 255, 26);
    text-transform: uppercase;
}

li {
    margin-top: 5px;
    color: #fff;
    text-transform: none;
}

.workers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hide {
    display: none;
}